@font-face {
	font-family: 'Baltimore Nouveau';
	src: url('../fonts/baltimore_nouveau.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/baltimore_nouveau.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/baltimore_nouveau.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/baltimore_nouveau.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/baltimore_nouveau.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/baltimore_nouveau.svg#baltimore_nouveau') format('svg'); /* Chrome < 4, Legacy iOS */
}